<h1>Favourite artist?</h1>

<p class="need">Use MySpotify App to find your favourite artist</p>
<form>
  <div class="form-group">
    <input
      class="w3-input"
      type="text"
      [(ngModel)]="searchStr"
      placeholder="Search Artist"
      [ngModelOptions]="{ standalone: true }"
    />
  </div>
  
    <div class="center">
  <button
    class="w3-button-w3-teal"
    type="submit"
    (click)="searchSong()"
    name="submit"
    value="submit"
  >
    Submit
  </button>
  </div>
  
</form>
<ng-container *ngIf="listOfMusic !== null">
  <div *ngFor="let artist of listOfMusic">
    <p class="solid"></p>
    <p class="name">Profile of {{ artist.name }}</p>
    <p>Genres: {{ artist.genres }}</p>
    <p>Followers: {{ artist.followers.total }}</p>
    <p><img src="{{ artist.images[2].url }}"></p>
  
  </div>
</ng-container>

