.form-group{
    padding: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

div p{
    padding: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px; 
}

p.solid {border-style: solid;}


  .center {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 64%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }