
<div class="spo">
    <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png">
    </div>

<div class="title">
<h2>My Spotify</h2>
</div>

<div class="mim">
<p class="lead">Spotify was founded by Daniel Ek and Martin Lorentzon as a way to deal with the problem of music privacy. Before the music streaming services got popular, there were many who downloaded pirated music files. This was a growing challenge for the whole music industry and is the base of Spotify history. Daniel and Martin realized that music streaming has a huge potential, which made them start Spotify startup in 2006.

    The name 'Spotify' came to the founders just by chance. It was when Daniel and Martin were yelling out some possible names for their music streaming business that Daniel misheard the name 'Spotify'. Spotify name meaning was later summed up as a combination of two words "Spot" and "Identify".
    
    Spotify's services were publicly released (by invitation only) for the first time on 7 October 2008, in Scandinavia, the United Kingdom, France, and Spain. In 2009, Spotify started offering free but limited access to its services in the UK. As of today, Spotify is operational in over 180 countries and is working towards entering many more new territories, when last reported in October 2021.</p>


</div>